'scopeName': 'source.kerboscript'
'name': 'KerboScript'
'fileTypes': ['ks']
'patterns': [
  {
    'match': '\\b(([0-9]+\\.?[0-9]*)|(\\.[0-9]+))\\b'
    'name': 'constant.numeric.kerboscript'
  }
  {
    'comment': 'string literal'
    'name': 'string.quoted.double.kerboscript'
    'begin': '\\"'
    'end': '\\"'
  }
  {
    'comment': 'comment line'
    'name': 'comment.line.double-slash.kerboscript'
    'begin': '//'
    'end': '\\n'
  }
  {
    'match': '(\\.)\\b'
    'name': 'punctuation.terminator.kerboscript'
  }
  {
    'comment': 'flow control conditional'
    'name': 'keyword.control.conditional.kerboscript'
    'match': '\\b(?i:(if|else|when|then|on))\\b'
  }
  {
    'comment': 'flow control loop'
    'name': 'keyword.control.repeat.kerboscript'
    'match': '\\b(?i:(for|until))\\b'
  }
  {
    'comment': 'flow control statement'
    'name': 'keyword.control.statement.kerboscript'
    'match': '\\b(?i:(break|preserve))\\b'
  }
  {
    'comment': 'boolean keyword'
    'name': 'keyword.operator.logical.kerboscript'
    'match': '\\b(?i:(and|or|not))\\b'
  }
  {
    'comment': 'comparison operator'
    'name': 'keyword.operator.comparison.kerboscript'
    'match': '(<\\=|>\\=|<|>|<>|\\=)'
  }
  {
    'comment': 'arithmetic operator'
    'name': 'keyword.operator.arithmetic.kerboscript'
    'match': '(\\+|\\-|\\*|/|\\^|\\(|\\))'
  }
  {
    'comment': 'mathematical constants'
    'name': 'support.constant.kerboscript'
    'match': '\\b(?i:(e|g|pi))\\b'
  }
  {
    'comment': 'language constants'
    'name': 'support.constant.kerboscript'
    'match': '\\b(?i:(true|false|red|green|blue|yellow|cyan|magenta|purple|white|black))\\b'
  }
  {
    'comment': 'assignment keywords'
    'name': 'keyword.operator.assignment.kerboscript'
    'match': '\\b(?i:(set|to|lock|unlock|declare|parameter|toggle|on|off))\\b'
  }
  {
    'match': '\\b(?i:(global|local|parameter))\\b'
    'name': 'storage.modifier.kerboscript'
  }
  {
    'comment': 'support functions'
    'name': 'support.function.kerboscript'
    'match': '\\b(?i:(add|remove|stage|clearscreen|log|copy|rename|delete|edit|run|compile|reboot|shutdown|batch|deploy))\\b'
  }
  {
    'comment': 'support variables'
    'name': 'constant.language.kerboscript'
    'match': '\\b(?i:(rgb|rgba|waypoint|allwaypoints|nextnode|ship|soi|mapview|version|sessiontime|time|config|terminal|eta))\\b'
  }
  {
    'comment': 'version parameters'
    'name': 'variable.parameter.kerboscript'
    'match': '\\b(?i:(major|minor))'
  }
  {
    'comment': 'bound variables'
    'name': 'constant.language.kerboscript'
    'match': '\\b(?i:(throttle|steering|wheelthrottle|wheelsteering|ship|target|encounter|alt|heading|prograde|retrograde|facing|maxthrust|velocity|geoposition|latitude|longitude|up|north|body|angularmomentum|angularvel|angularvelocity|commrange|mass|verticalspeed|surfacespeed|airspeed|vesselname|altitude|apoapsis|periapsis|sensor|srfprograde|srfrerograde|obt|status|vesselname))\\b'
  }
  {
    'comment': 'bound toggleables'
    'name': 'constant.language.kerboscript'
    'match': '\\b(?i:(sas|rcs|gear|legs|chutes|lights|panels|brakes|abort|ag[1-9][0-9]|ag[0-9]))\\b'
  }
  {
    'comment': 'alt structure members'
    'name': 'variable.parameter.kerboscript'
    'match': '\\:(?i:(apoapsis|periapsis|radar))\\b'
  }
  {
    'comment': 'eta structure members'
    'name': 'variable.parameter.kerboscript'
    'match': '\\:(?i:(apoapsis|periapsis|transition))\\b'
  }
  {
    'comment': 'list functions'
    'name': 'support.function.kerboscript'
    'match': '\\b(?i:(list|bodies|targets|resources|parts|engines|sensors|elements|dockingports|files|volumes))\\b'
  }
  {
    'comment': 'directional functions'
    'name': 'support.function.kerboscript'
    'match': '\\b(?i:(r|q|heading|lookdirup|angleaxis|rotatefromto))\\b'
  }
  {
    'comment': 'directional structure members'
    'name': 'variable.parameter.kerboscript'
    'match': '\\:(?i:(vector|forevector|topvector|upvector|starvector|rightvector|inverse))'
  }
  {
    'comment': 'vector functions'
    'name': 'support.function.kerboscript'
    'match': '\\b(?i:(vdot|vectordotproduct|vcrs|vectorcrossproduct|vang|vectorangle|vxcl|vectorexclude))\\b'
  }
  {
    'comment': 'vector structure member'
    'match': '\\:(?i:(x|y|z|normalized|sqrmagnitude|direction|vec))\\b'
    'name': 'variable.parameter.kerboscript'
  }
  {
    'comment': 'geographical structure member'
    'match': '\\:(?i:(lat|lng|distance|terrainheight|heading|bearing|position|altitudeposition))'
    'name': 'variable.parameter.kerboscript'
  }
  {
    'comment': 'orbit structure member'
    'match': '\\:(?i:(name|apoapsis|periapsis|body|period|inclination|eccentricity|semimajoraxis|semiminoraxis|lan|longitudeofascendingnode|argumentofperiapsis|trueanomaly|meananomalyatepoch|transition|position|velocity|nextpatch|hasnextpatch))\\b'
    'name': 'variable.parameter.kerboscript'
  }
  {
    'comment': 'orbitable structure member'
    'match': '\\:(?i:(orbit|surface|name|body|hasbody|hasorbit|hasobt|obt|up|north|prograde|srfprograde|retrograde|srfretrograde|position|velocity|distance|direction|latitude|longitude|altitude|geoposition|patches))\\b'
    'name': 'variable.parameter.kerboscript'
  }
  {
    'comment': 'atmosphere structure member'
    'match': '\\:(?i:(body|exists|oxygen|scale|sealevelpressure|height))\\b'
    'name': 'variable.parameter.kerboscript'
  }
  {
    'comment': 'body structure member'
    'match': '\\:(?i:(name|description|mass|altitude|rotationperiod|radius|mu|atm|angularvel|geopositionof|altitudeof))\\b'
    'name': 'variable.parameter.kerboscript'
  }
  {
    'comment': 'aggregateresource structure member'
    'match': '\\:(?i:(name|amount|capacity|parts))\\b'
    'name': 'variable.parameter.kerboscript'
  }
  {
    'comment': 'dockingport structure member'
    'match': '\\:(?i:(aquirerange|aquireforce|aquire|torque|reengageddistance|dockedshipname|portfacing|state|targetable))\\b'
    'name': 'variable.parameter.kerboscript'
  }
  {
    'comment': 'dockingport functions'
    'match': '\\:(?i:(undock))'
    'name': 'support.function.kerboscript'
  }
  {
    'comment': 'engine structure member'
    'match': '\\:(?i:(thrustlimit|maxthrust|thrust|fuelflow|isp|flameout|ignition|allowrestart|allowshutdown|throttlelock))\\b'
    'name': 'variable.parameter.kerboscript'
  }
  {
    'comment': 'engine functions'
    'match': '\\:(?i:(activate|shutdown))'
    'name': 'support.function.kerboscript'
  }
  {
    'comment': 'gimbal structure member'
    'match': '\\:(?i:(range|responsespeed|pitchangle|yawangle|rollangle|lock))\\b'
    'name': 'variable.parameter.kerboscript'
  }
  {
    'comment': 'maneuvernode structure member'
    'match': '\\:(?i:(deltav|burnvector|eta|prograde|radialout|normal|orbit))\\b'
    'name': 'variable.parameter.kerboscript'
  }
  {
    'comment': 'part structure member'
    'match': '\\:(?i:(name|title|mass|drymass|wetmass|tag|controlfrom|stage|uid|rotation|position|facing|resources|targetable|ship|modules|allmodules|parent|hasparent|hasphysics|children))\\b'
    'name': 'variable.parameter.kerboscript'
  }
  {
    'comment': 'part functions'
    'match': '\\:(?i:(getmodule))'
    'name': 'support.function.kerboscript'
  }
  {
    'comment': 'partmodule structure member'
    'match': '\\:(?i:(name|part|allfields|allevents|allactions|hasfield|hasevent|hasaction))\\b'
    'name': 'variable.parameter.kerboscript'
  }
  {
    'comment': 'partmodule functions'
    'match': '\\b(?i:(getfield|setfield|doevent|doaction))'
    'name': 'support.function.kerboscript'
  }
  {
    'comment': 'sensor structure member'
    'match': '\\:(?i:(active|type|readout|powerconsumption))\\b'
    'name': 'variable.parameter.kerboscript'
  }
  {
    'comment': 'sensor functions'
    'match': '\\b(?i:(toggle))'
    'name': 'support.function.kerboscript'
  }
  {
    'comment': 'stage structure member'
    'match': '\\:(?i:(ready|number|resources))\\b'
    'name': 'variable.parameter.kerboscript'
  }
  {
    'comment': 'vessel structure member'
    'match': '\\:(?i:(control|bearing|heading|maxthrust|facing|mass|wetmass|drymass|verticalspeed|surfacespeed|airspeeed|termvelocity|shipname|name|angularmomentum|angularvel|sensors|loaded|patches|rootpart|parts|resources|partsnamed|partstitled|partstagged|partsdubbed|modulesnamed|partsingroup|modulesingroup|allpartstagged))\\b'
    'name': 'variable.parameter.kerboscript'
  }
  {
    'comment': 'vesselsensors structure member'
    'match': '\\:(?i:(acc|pres|temp|grav|light))\\b'
    'name': 'variable.parameter.kerboscript'
  }
  {
    'comment': 'resource structure member'
    'match': '\\:(?i:(name|amount|capacity|toggleable|enabled))\\b'
    'name': 'variable.parameter.kerboscript'
  }
  {
    'comment': 'waypoint structure member'
    'match': '\\:(?i:(name|body|geoposition|position|altitude|agl|nearsurface|grounded|index|clustered))\\b'
    'name': 'variable.parameter.kerboscript'
  }
  {
    'comment': 'rgba structure member'
    'match': '\\:(?i:(r|red|g|green|b|blue|a|alpha|html|hex))\\b'
    'name': 'variable.parameter.kerboscript'
  }
  {
    'comment': 'prediction functions'
    'match': '\\b(?i:(positionat|velocityat|orbitat))'
    'name': 'support.function.kerboscript'
  }
  {
    'comment': 'mathematical functions'
    'name': 'support.function.kerboscript'
    'match': '\\b(?i:(abs|ceiling|floor|ln|log10|mod|min|max|round|sqrt|sin|cos|tan|arcsin|arccos|arctan|arctan2))\\b'
  }
  {
    'comment': 'support types'
    'name': 'support.type.kerboscript'
    'match': '\\b(?i:(v|vector|direction|latlng))\\b'
  }
  {
    'comment': 'other keywords'
    'name': 'keyword.other.kerboscript'
    'match': '\\b(?i:(print|at|from|volume|in|all|readjson|writejson))\\b'
  }
  {
    'name': 'storage.function.kerboscript'
    'match': '\\b(?i:(function))\\b'
  }
  {
    'comment': 'terminal structure members'
    'name': 'variable.parameter.kerboscript'
    'match': '\\:(?i:(width|height|reverse|visualbeep|brightness|charwidth|charheight))\\b'
  }
  {
    'comment': 'time span structure members'
    'name': 'variable.parameter.kerboscript'
    'match': '\\:(?i:(clock|calendar|second|minute|hour|day|year|seconds))\\b'
  }
  {
    'comment': 'collection types'
    'name': 'support.type.kerboscript'
    'match': '\\b(?i:(lexicon|list|queue|range|stack))\\b'
  }
  {
    'comment': 'lexicon structure members'
    'name': 'variable.parameter.kerboscript'
    'match': '\\:(?i:(add|casesensitive|case|clear|copy|dump|haskey|hasvalue|keys|values|length|remove))\\b'
  }
  {
    'comment': 'list structure members'
    'name': 'variable.parameter.kerboscript'
    'match': '\\:(?i:(add|insert|clear|copy|sublist|join|remove))\\b'
  }
  {
    'comment': 'queue structure members'
    'name': 'variable.parameter.kerboscript'
    'match': '\\:(?i:(push|pop|peek|clear|copy))\\b'
  }
  {
    'comment': 'range structure members'
    'name': 'variable.parameter.kerboscript'
    'match': '\\:(?i:(start|stop|step))\\b'
  }
  {
    'comment': 'stack structure members'
    'name': 'variable.parameter.kerboscript'
    'match': '\\:(?i:(push|pop|peek|clear|copy))\\b'
  }
]
